//souligner le lien actif
.nav-link.active {
	text-decoration: underline;
}

// Form size input
.form-search {
	.form-control {
		width: 200px;
		background-color: #000;
		border-color: #fff;
	}

// placeholder
input::placeholder {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
}

// btn color
	.btn {
		&.btn-outline-light {
			&.bg-dark {
				font-size: 0.9rem;

				&:hover,
				&:focus {
					background-color: #495057 !important;
					color: #fff; // Changement de la couleur du texte au survol
				}
			}
		}
	}
}

// animation logo
.logo-animation {
	img:hover {
    animation: shaking 0.4s infinite;
    visibility: visible;
    cursor: pointer;
}
}
@keyframes shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}