@import "../../src/assets/styles/Custom.scss";

// style des boutons
.btnStyle {
	.btn {
		width: 5rem; // taille des boutons
		position: relative;

		&.btn-active {
			&::after {
				content: "";
				position: absolute;
				top: -6px;
				left: -6px;
				right: -6px;
				bottom: -6px;
				border: 2px solid white;
				border-radius: 10px;
				z-index: -1;
			}
		}
	}
}

// ajout des styles dynamiques pour chaque type :
// combat
.type-1 {
	background-color: $type-1 !important;
	border-color: $type-1 !important;
}
// dragon
.type-2 {
	background-color: $type-2 !important;
	border-color: $type-2 !important;
}
// eau
.type-3 {
	background-color: $type-3 !important;
	border-color: $type-3 !important;
}
// électrik
.type-4 {
	background-color: $type-4 !important;
	border-color: $type-4 !important;
}
// feu
.type-5 {
	background-color: $type-5 !important;
	border-color: $type-5 !important;
}
// glace
.type-6 {
	background-color: $type-6 !important;
	border-color: $type-6 !important;
}
// insect
.type-7 {
	background-color: $type-7 !important;
	border-color: $type-7 !important;
}
// normal
.type-8 {
	background-color: $type-8 !important;
	border-color: $type-8 !important;
}
// plante
.type-9 {
	background-color: $type-9 !important;
	border-color: $type-9 !important;
}
// poison
.type-10 {
	background-color: $type-10 !important;
	border-color: $type-10 !important;
}
// psy
.type-11 {
	background-color: $type-11 !important;
	border-color: $type-11 !important;
}
// roche
.type-12 {
	background-color: $type-12 !important;
	border-color: $type-12 !important;
}
// sol
.type-13 {
	background-color: $type-13 !important;
	border-color: $type-13 !important;
}
// spectre
.type-14 {
	background-color: $type-14 !important;
	border-color: $type-14 !important;
}
// vol
.type-15 {
	background-color: $type-15 !important;
	border-color: $type-15 !important;
}
