//btn footer et navbar
.btn {
	&.btn-outline-light {
		&.bg-dark {
			font-size: 0.9rem;

			&:hover,
			&:focus {
				background-color: #495057 !important;
				color: #fff; // Changement de la couleur du texte au survol
			}
		}
	}
}

// placeholder
textarea::placeholder,
input::placeholder,
select {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
}

// Create form
// size du form
.createFormStyle {
	width: 600px;
	form {
		max-width: 600px;
	}
}
// style select du form
select.form-control {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
}
